<!DOCTYPE HTML>
<html>
  <head>
    <title>Boris Bikes</title>
  </head>
  <body>
    <h1>Welcome to Boris Bikes!</h1>
    <button type="submit">bike</button>
<!--     <form action="get" method="/">
      <input value="bike" id="bike-button" type="submit" >
    </form> -->
     <!-- <a href="/help" id="help-link" class="help">Help</a> -->
   </body>
</html>