<!DOCTYPE HTML>
<html>
  <head>
    <title>Boris Bikes</title>
  </head>
  <body>
    <h1>Welcome to Boris Bikes!</h1>
    <form action="get" method="/">
      <input type="submit" value="bike">
    </form>
   </body>
</html>