<!DOCTYPE HTML>
<html>
  <head>
    <title>Boris Bikes</title>
  </head>
  <body>
    <h1>Welcome to Boris Bikes!</h1>
    <button type="submit">bike</button>
    <button type="submit">fill station</button>

   </body>
</html>